// reset default styles
@import "blocks/null";

$text-color: #533738;
$bg-color: #efe6e4;
$bg-dark-color: #8d7370;
$bg-light-color: #e2c4ba;
$button-color: #cc8b86;
// sitewide

html{
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    color: $text-color;
    background-color: $bg-color;
    &.locked {
        overflow: hidden;
    }
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-small {
    max-width: 1070px;
    margin: 0 auto;
    padding: 0 15px;
}

.section-padding {
    padding: 65px 0;
    @media screen and (max-width: 768px) {
        padding: 35px 0;
    }
}

.section-header {
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    &.centered {
        text-align: center;
    }
}

.main-btn {
    text-align: center;
    display: block;
    font-size: 20px;
    line-height: 24px;
    color: #533738;
    background: $button-color;
    padding: 25px 10px;
    width: 310px;
    transition: all 0.1s ease-out;
    &:hover {
        background: $text-color;
        color: $bg-light-color;
    }
    @media screen and (max-width: 500px) {
        width: 250px;
    }
}

// styles

.welcome {
    background-image: url("../img/welcome/bg.jpg");
    height: 100vh;
    width: 100vw;
    min-height: 700px;
    background-position: center;
    background-size: cover;
}

.header {
    &__logo {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
    }
    &__content {
        height: 95px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__menu {
        display: flex;
    }
    &__icon {
        display: none;
    }
}

.logo {
    &__text {
        text-transform: uppercase;
        font-size: 16px;
        line-height: 25px;
    }
}

.menu {
    &__body {
        display: block;
        @media screen and (max-width: 768px) {
            position: absolute;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            background-color: $bg-light-color;
            transition: all 0.2s;
        }
    }
    &__body.active {
        left: 0;
    }
    &__list {
        display: flex;
        @media screen and (max-width: 768px) {
            flex-direction: column;
            padding-top: 100px;
            align-items: center;
        }
    }
    &__list li {
        margin: 0 0 0 30px;
        @media screen and (max-width: 768px) {
            margin: 0 0 30px 0;
        }
    }
    &__link {
        position: relative;
        font-weight: 400;
        line-height: 25px;
        color: $text-color;
        @media screen and (max-width: 768px) {
            font-size: 25px;
            line-height: 30px;
        }
    }
    &__link::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: $text-color;
        bottom: -3px;
        left: 0;
        transform: scale(0);
        transition: transform 0.2s ease-in;
    }
    &__link:hover::after {
        transform: scale(1);
        transition: transform 0.2s ease-out;
    }
}

.icon-menu {
    display: none;
}

@media screen and (max-width: 768px) {
    .icon-menu {
        display: block;
        position: relative;
        width: 32px;
        height: 18px;
        cursor: pointer;
        z-index: 1;
    }
    .icon-menu span,
    .icon-menu::before,
    .icon-menu::after {
        position: absolute;
        width: 100%;
        background-color: $text-color;
        height: 2px;
        transition: transform 0.2s;
    }
    .icon-menu::before,
    .icon-menu::after {
        content: "";
    }
    .icon-menu::before {
        top: 0;
    }
    .icon-menu::after {
        bottom: 0;
    }
    .icon-menu span {
        top: calc(50% - 1px);
    }
    .icon-menu.active span {
        transform: scale(0);
    }
    .icon-menu.active::before {
        top: 50%;
        transform: rotate(45deg) translate(-1px);
    }
    .icon-menu.active::after {
        bottom: 50%;
        transform: rotate(-45deg) translate(-1px);
    }
}

.welcome-card {
    padding: 90px 0;
    @media screen and (max-width: 768px) {
        padding: 50px 0;
    }
    &__header {
        font-size: 50px;
        line-height: 62px;
        max-width: 530px;
        margin-bottom: 24px;
        @media screen and (max-width: 500px) {
            font-size: 35px;
            line-height: 45px;
        }
    }
    &__text {
        font-size: 18px;
        line-height: 30px;
        max-width: 500px;
        margin-bottom: 21px;
    }
}

.about-card {
    display: flex;
    padding-top: 40px;
    @media screen and (max-width: 767px) {
        flex-direction: column;
        align-items: center;
    }
    &__image {
        position: relative;
        min-width: 40%;
        margin: 0 50px 0 0;
        @media screen and (max-width: 767px) {
            margin: 0 0 50px 0;
        }
    }
    &__text p {
        font-size: 18px;
        line-height: 30px;
        color: #533738;
        margin-bottom: 35px;
    }
    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.experience {
    background-color: $bg-dark-color;
}

.experience-wrapper {
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__item {
        padding: 0 20px;
        @media screen and (max-width: 767px) {
            padding: 20px 0;
        }
    }
    @media screen and (max-width: 767px) {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
}

.advantage {
    text-align: center;
    color: white;
    &__header {
        font-size: 50px;
        line-height: 62px;
    }
    &__subheader {
        font-weight: 500;
        font-size: 30px;
        line-height: 37px;
        text-transform: uppercase;
    }
}

.gallery-wrapper {
    padding: 10px 0 40px 0;
}

.gallery-row {
    display: flex;
    column-gap: 20px;
    padding-top: 30px;
    &__small {
        width: calc(40% - 10px);
        @media screen and (max-width: 600px) {
            width: 100%;
        }
    }
    &__big {
        width: calc(60% - 10px);
        @media screen and (max-width: 600px) {
            width: 100%;
        }
    }
    @media screen and (max-width: 600px) {
        flex-direction: column;
        row-gap: 20px;
        padding-top: 20px;
    }
}

.gallery-small-wrap {
    position: relative;
    height: 0;
    padding-top: 100%;
}

.gallery-big-wrap {
    position: relative;
    height: 0;
    padding-top: 66.2%;
}

.gallery-small-wrap img,
.gallery-big-wrap img {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.more-works {
    text-align: center;
}

.more-works a {
    position: relative;
    display: inline-block;
    position: relative;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    color: $text-color;
    padding-right: 71px;
    &::after {
        content: "";
        position: absolute;
        top: 12px;
        right: 0;
        background-image: url("../img/gallery/arrow.svg");
        width: 61px;
        height: 16px;
    }
}

.team {
    background-color: $bg-light-color;
}

.team-cards {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    padding: 40px 0 35px 0;

    &__item {
        flex: 0 1 40%;
        @media screen and (max-width: 768px) {
            display: flex;
            padding-bottom: 20px;
        }
        @media screen and (max-width: 620px) {
            flex-direction: column;
        }
    }
    &__image {
        margin-bottom: 10px;
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        @media screen and (max-width: 768px) {
            flex: 0 0 40%;
        }
        @media screen and (max-width: 620px) {
            max-width: 320px;
            align-self: center;
        }
    }
    &__text {
        font-size: 18px;
        line-height: 30px;
        @media screen and (max-width: 768px) {
            padding: 0 0 0 20px;
        }
        @media screen and (max-width: 620px) {
            padding: 0 20px 0 20px;
        }
    }
    @media screen and (max-width: 768px) {
        flex-direction: column;
    }
    
}

.work-steps {
    display: flex;
    justify-content: space-between;
    padding: 40px 0 20px 0;
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 0 1 25%;
        @media screen and (max-width: 768px) {
            flex: 0 1 50%;
        }
        @media screen and (max-width: 500px) {
            flex: 0 1 100%;
        }
    }
    &__text {
        padding: 20px 20px;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        color: $text-color;
        @media screen and (max-width: 1000px) {
            padding: 20px 10px;
        }
    }
    @media screen and (max-width: 768px) {
        flex-wrap: wrap;
    }
}

.step {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: $bg-dark-color;
    display: flex;
    align-items: center;
    justify-content: center;
    &__number {
        font-weight: 500;
        font-size: 30px;
        line-height: 30px;
        color: #ffffff;
    }
}

.swiper {
    padding: 40px 0 0 0;
    @media screen and (max-width: 900px) {
        padding: 40px 0 130px 0;
    }
}

.slide-item {
    display: flex;
    padding: 0 100px;
    &__text {
        padding-right: 20px;
    }
    &__text p {
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 30px;
    }
    &__images {
        @media screen and (max-width: 768px) {
            display: none;
        }
    }
    &__images img:first-child {
        margin-bottom: 20px;
    }
    @media screen and (max-width: 900px) {
        padding: 0 20px;
    }
    
}

.swiper-button-next,
.swiper-button-prev {
    width: 72px;
    height: 72px;
    border-radius: 50px;
    background-color: $button-color;
    @media screen and (max-width: 900px) {
        top: 90%;
    }
}

.swiper-button-prev {
    left: 0;
    @media screen and (max-width: 900px) {
        left: 30%;
    }
    @media screen and (max-width: 500px) {
        left: 10%;
    }
}

.swiper-button-next {
    right: 0;
    @media screen and (max-width: 900px) {
        right: 30%;
    }
    @media screen and (max-width: 500px) {
        right: 10%;
    }
}

.swiper-button-next:after {
    content: "";
    background-image: url("../img/reviews/arrow-next.svg");
    width: 33px;
    height: 16px;
}

.swiper-button-prev:after {
    content: "";
    background-image: url("../img/reviews/arrow-prev.svg");
    width: 33px;
    height: 16px;
}

.feedback {
    background-color: $bg-dark-color;
}

.feedback-wrap {
    display: flex;
    &__form {
        flex: 0 1 50%;
        @media screen and (max-width: 1000px) {
            padding-bottom: 50px;
        }
    }
    &__map {
        flex: 0 1 50%;
        @media screen and (max-width: 1000px) {
            display: none;
        }
    }
    &__map img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    @media screen and (max-width: 1000px) {
        flex-direction: column;
    }
}

.apply-form {
    padding: 50px 40px 0 80px;
    &__header {
        font-size: 40px;
        line-height: 50px;
        text-transform: uppercase;
        color: #ffffff;
        margin-bottom: 25px;
    }
    &__text {
        font-size: 18px;
        line-height: 30px;
        color: #ffffff;
        opacity: 0.6;
        margin-bottom: 45px;
    }
    &__name,
    &__phone {
        height: 35px;
        width: 100%;
        background-color: transparent;
        border-bottom: 1px solid #ffffff;
        font-size: 18px;
        line-height: 30px;
        color: #f6ede9;
        margin-bottom: 35px;
        &::placeholder {
            font-size: 18px;
            line-height: 30px;
            color: #f6ede9;
        }
    }
}

.footer {
    padding: 37px 0;
}

.footer-info {
    display: flex;
    &__item {
        padding-right: 20px;
        &:last-child {
            padding-right: 0;
        }
        @media screen and (max-width: 1000px) {
            margin-bottom: 20px;
        }
    }
    &__item:nth-child(2) {
        flex-grow: 1;
    }
    @media screen and (max-width: 1000px) {
        flex-direction: column;
    }
}
